icons/capitaine-cursors-white/
icons/grub/hal2710.png
icons/oreo_spark_green_cursors/
icons/oreo_teal_cursors/
icons/riddle-custom-cursors/
images/desktop/preview_i3.png
images/desktop/preview_i3_rofi.png
images/desktop/preview_openbox.png
images/profile/atom_centered.png
images/profile/atom_centered_bg.png
